header{
    background-color: #000;
    color: #fff;
    height: 150px;
    padding-top: 20px;
}
.nav-img {
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 3px #D2691E;
    border-radius: 100px;
    margin-bottom: 20px;
}

.shadow{
    width: 97%;
    height: auto;
    box-shadow:  5px 1px 5px rgb(105, 105, 105);
    margin-bottom: 20px;
    margin-left: 10px;
}

.aside-img {
    width: 50px;
    height: 50px;
    box-shadow: 0 0 0 3px #D2691E;
    border-radius: 100px;
    margin: 5px;
}

.padding-top-color{
   background-color: #f7f7f7; 
    
}

.inline li{
    display: inline-block;
    margin-left: 30px;
    list-style-type: none;
}

a.hreftopnav {
    color: #D2691E;
}

a.hreftopnav:hover {
    color: #D2691E;
    text-decoration: none;
}

a.asidenav {
    color: #008000;
}

a.asidenav:hover {
    color: #008000;
    text-decoration: none;
}

ol p {
    color: cornflowerblue;
    margin-top: 10px;
}

a p {
    color: #D2691E;
    ;
}

footer {
	margin-top: 20px;
	background-color: #000;
	color: #fff;
}