.header{
    background-color: #000;
    color: #fff;
    height: 150px;
    padding-top: 20px;
}
.nav-img {
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 3px #D2691E;
    border-radius: 100px;
    margin-bottom: 20px;
}

h3 {
    padding-top: 30px;
    margin-left: 10px;
}

.main-img {
    width: 98%;
    height: auto;
    box-shadow: 5px 1px 5px rgb(105, 105, 105);
    margin-bottom: 20px;
    margin-left: 10px;
}

.main-textblock {
    border: 1px solid black;
    width: 80%;
    height: auto;
    border: none;
}

.main-text {
    margin-left: 10px;
    margin-right: 90px;
}
.aside-img {
    width: 50px;
    height: 50px;
    box-shadow: 0 0 0 3px #D2691E;
    border-radius: 100px;
    margin: 5px;
}

.padding-top {
	padding-top: 25px;
	background-color: #f7f7f7;
}

.inline li{
    display: inline-block;
    margin-left: 30px;
    list-style-type: none;
}

.btn {
    float: right;
    margin-left: 20px;
}
a.hreftopnav {
    color: #D2691E;
}

a.hreftopnav:hover {
    color: #D2691E;
    text-decoration: none;
}

a.asidenav {
    color: #008000;
}

a.asidenav:hover {
    color: #008000;
    text-decoration: none;
}

ol p {
    color: cornflowerblue;
    margin-top: 10px;
}

a p {
    color: #D2691E;
    ;
}

.footer {
	margin-top: 20px;
	background-color: #000;
	color: #fff;
}